table {
	position: absolute;
	z-index: 100000;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -60%);
  	width: 720px;
  	height: 150px;
	font-family: "Rubik", sans-serif;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 10px;
	background: rgba(176, 9, 255, 0.4);;
	border: 4px solid black;
	border-color: black;
	font-size: 36px;
}

th{
	font-size: 16px;
	font-weight: 400;
	padding: 16px 14px;
	border-bottom: 4px solid black;
	color: black;
}

tbody tr:nth-child(2) {
	font-weight: 400;
	font-size: 24px;
	border-bottom: 4px solid black;
}
.ucb_txt{
	color: white;
	font-size: 36px;
	font-weight: 800;
}
#infinity__ASCII{
	font-size: 50px;
	font-weight: 400;
}

@media screen and (max-width: 830px){
	table {
		width: 500px;
  		height: 100px;
  		font-size: 24px;
  		border-spacing: 5px;
	}
	.ucb_txt{
	font-size: 24px;
	}
	td{
		font-size: 18px;
	}
	#infinity__ASCII{
	font-size: 36px;
	}

}
@media screen and (max-width: 500px){
	table {
		width: 400px;
  		height: 70px;
  		font-size: 16px;
  		border-spacing: 5px;
	}
	.ucb_txt{
	font-size: 16px;
	}
	td{
		font-size: 14px;
	}
	#infinity__ASCII{
	font-size: 24px;
	}
}
@media screen and (max-width: 400px){
	table {
		width: 300px;
  		height: 70px;
  		font-size: 16px;
  		border-spacing: 5px;
	}
	.ucb_txt{
	font-size: 14px;
	}
	td{
		font-size: 12px;
		font-weight: 800;
	}
	#infinity__ASCII{
	font-size: 24px;
	}
}